---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
                <meta name="viewport" content="width=device-width" />
                <meta name="description" content="Personal blog exploring technology, privacy and finance from an independent perspective." />
                <meta name="keywords" content="technology, privacy, finance, personal blog, digital economy" />
                <meta name="author" content="PalChat" />
                <meta name="generator" content={Astro.generator} />
                <title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
